.navbar {
	color: white;

	height: 100px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1366px;
		margin: auto;
		padding: 0 20px;
		height: 100%;

		span {
			font-weight: bold;
		}
		.social {
			display: flex;
			gap: 20px;

			img {
				width: 18px;
				height: 18px;
			}
		}
	}
}

.social a {
	margin-right: 10px;
}

.social img {
	width: 30px;
	height: 30px;
}
